{% extends 'allauth/account/base.html' %}
{% load i18n %}


{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="card-title text-center mb-4">
                Password Change
            </h1>
            <form method="POST" action="{% url 'account_change_password' %}" class=" form-account password_change">
                {% csrf_token %}
                {% include 'form_snippet.html' %}
                <button class="btn btn-lg btn-primary btn-block w-100" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}